.history-container {
  text-align: left;
  width: 25vw;
  height: 20vw;
  overflow: scroll;
  padding: 1.5vw;
  margin: 2vw;
  border-width: 1px;
  box-shadow: 1px 1px 3px grey;
  border-radius: 4px;
  grid-template-columns: 100%;
  column-gap: 1%;
  grid-template-rows: 22% 22% 22% 29%;
  row-gap: 1%;
}

.history-item {
  margin-top: 1vw;
  margin-left: 1vw;
}
