body {
  display: flex;
  justify-content: center;
  text-align: center;
}

h3 {
  color: #606060;
  margin-bottom: 1vw;
}

h5 {
  color: #808080;
  margin: 0.2vw;
}

h6 {
  color: #a9a9a9;
  margin: 0.2vw;
}
